/* favoriteQuotesPage.module.css */
.container {
    padding: 20px;
    max-width: 800px;
    margin: 5% auto;
  }
  
  .quoteList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .container h1{
    color: white;
    padding: 16px;
    font-size: 2rem;
  }