/* authorDetails.module.css */
.container {
    padding: 20px;
    max-width: 800px;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #0070f3;
  }
  
  .backIcon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .error {
    text-align: center;
    font-size: 18px;
    color: red;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .bio {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .description {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
  }
  
  .link {
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  