@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #050b3d;
  --bgSoft: #030637;
  --text: #A91D3A;
  --teztSoft: #481E14;
  --cream: #FFF5E0 ;
  --creamSoft: #E4C59E ;
  --gray: #222831;
  --graySoft: #111316;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
color: inherit;
text-decoration: none;
}